chainer
fcn
git+https://github.com/wkentaro/imgaug@affine_resize  # imgaug
git+https://github.com/wkentaro/mvtk.git  # mvtk
labelme
matplotlib
numpy
opencv-python
pandas
pascal3d
pillow
scikit-image
tabulate
