<launch>
  <arg name="manager"/>
  <arg name="INPUT_CLOUD"/>
  <arg name="max_curvature" default="0.01"/>
  <arg name="min_size" default="10000"/>
  <arg name="output" default="screen"/>

  <node name="multi_plane_estimate"
        pkg="nodelet" type="nodelet"
        args="load jsk_pcl/OrganizedMultiPlaneSegmentation $(arg manager)"
        output="$(arg output)"
        respawn="true">
    <remap from="~input" to="$(arg INPUT_CLOUD)"/>
    <rosparam subst_value="true">
      max_curvature: $(arg max_curvature)
      min_size: $(arg min_size)
      estimate_normal: true
      border_policy_ignore: false
    </rosparam>
  </node>

  <node name="cluster_indices_decomposer_plane"
        pkg="nodelet" type="nodelet"
        args="load jsk_pcl/ClusterPointIndicesDecomposer $(arg manager)"
        output="$(arg output)"
        respawn="true">
    <remap from="~input" to="$(arg INPUT_CLOUD)"/>
    <remap from="~target" to="multi_plane_estimate/output"/>
    <rosparam>
      approximate_sync: true
      queue_size: 1000
    </rosparam>
  </node>

  <node name="extract_indices_plane"
        pkg="nodelet" type="nodelet"
        args="load jsk_pcl/ExtractIndices $(arg manager)"
        output="$(arg output)"
        respawn="true">
    <remap from="~input" to="$(arg INPUT_CLOUD)"/>
    <remap from="~indices" to="cluster_indices_decomposer_plane/negative_indices"/>
    <rosparam>
      approximate_sync: true
      max_queue_size: 100
      keep_organized: true
    </rosparam>
  </node>
</launch>
