<launch>

  <arg name="gpu" default="0"/>
  <arg name="rviz" default="true"/>
  <arg name="launch_move_base" default="false"/>

  <!-- <arg name="bagfile" default="$(env HOME)/data/rosbag/mirror_recognition/20190129_111804.bag"/> -->
  <!-- <arg name="bagfile" default="$(env HOME)/data/rosbag/mirror_recognition/20190201_041307.bag"/> -->
  <!-- <arg name="bagfile" default="$(env HOME)/data/rosbag/mirror_recognition/20190201_042236.bag"/> -->
  <arg name="bagfile" default="$(env HOME)/data/rosbag/mirror_recognition/20190201_144156.bag"/>

  <!-- rosbag play -->
  <param name="/use_sim_time" value="true"/>
  <param name="/robot_description" command="$(find xacro)/xacro $(find pr2_description)/robots/pr2.urdf.xacro"/>
  <node name="rosbag_play"
        pkg="rosbag" type="play"
        args="$(arg bagfile) --clock --loop"/>

  <!-- point_cloud_mirror_flipper pipeline -->
  <include file="$(find mirror_recognition)/launch/point_cloud_from_fused_cloud_mirror_flipper_by_pr2_kinect.launch">
    <arg name="gpu" value="$(arg gpu)"/>
    <arg name="rviz" value="$(arg rviz)"/>
    <arg name="launch_manager" value="true"/>
    <arg name="manager" value="mirror_recognition_manager"/>
    <arg name="people_pose_estimation" value="false"/>
  </include>

  <!-- move_base -->
  <group if="$(arg launch_move_base)">
    <include file="$(find jsk_pr2_startup)/jsk_pr2_move_base/pr2_2dnav.launch">
      <arg name="launch_look_forward" value="false"/>
      <arg name="launch_teleop_joystick" value="false"/>
      <arg name="launch_navigation" value="true"/>
    </include>
  </group>


</launch>
